{
  "openapi": "3.1.1",
  "info": {
    "title": "OPAGO Wallet and LNURL public API",
    "version": "0.2.0",
    "description": "Implementation contract based on OPAGO plan V7. NOT a deployed API. Read protocol.md and decisions.md; x-opago-* fields are normative."
  },
  "servers": [
    {
      "url": "https://api.opago.com"
    }
  ],
  "paths": {
    "/api/v2/auth/hpke-key": {
      "get": {
        "operationId": "getHpkeKeys",
        "summary": "getHpkeKeys",
        "security": [
          {}
        ],
        "x-opago-auth-policy": "none",
        "x-opago-transport": "plain",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/KeyDocument"
                }
              }
            }
          },
          "default": {
            "description": "Protocol error",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/Error"
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md."
      }
    },
    "/api/v2/app/config": {
      "get": {
        "operationId": "getAppConfig",
        "summary": "getAppConfig",
        "security": [
          {}
        ],
        "x-opago-auth-policy": "none",
        "x-opago-transport": "plain",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/AppConfig"
                }
              }
            }
          },
          "default": {
            "description": "Protocol error",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/Error"
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md."
      }
    },
    "/api/v2/wallet/auth/challenge": {
      "post": {
        "operationId": "createWalletChallenge",
        "summary": "createWalletChallenge",
        "security": [
          {},
          {
            "AccountBearer": []
          },
          {
            "WalletBearer": []
          }
        ],
        "x-opago-auth-policy": "conditional",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/ChallengeRequest"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/Challenge"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/auth/verify": {
      "post": {
        "operationId": "verifyWalletChallenge",
        "summary": "verifyWalletChallenge",
        "security": [
          {},
          {
            "AccountBearer": []
          },
          {
            "WalletBearer": []
          }
        ],
        "x-opago-auth-policy": "conditional",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/VerifyRequest"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/VerifyResponse"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/auth/refresh": {
      "post": {
        "operationId": "refreshWalletSession",
        "summary": "refreshWalletSession",
        "security": [
          {}
        ],
        "x-opago-auth-policy": "none",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/RefreshRequest"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/WalletSession"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/auth/logout": {
      "post": {
        "operationId": "logoutWalletSession",
        "summary": "logoutWalletSession",
        "security": [
          {}
        ],
        "x-opago-auth-policy": "none",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/RefreshRequest"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/Ok"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/onboarding/restart": {
      "post": {
        "operationId": "restartDeletedAccountOnboarding",
        "summary": "restartDeletedAccountOnboarding",
        "security": [
          {}
        ],
        "x-opago-auth-policy": "none",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/ProofRequest"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/WalletSession"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "getAccount",
        "security": [
          {
            "AccountBearer": []
          }
        ],
        "x-opago-auth-policy": "account",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "X-Opago-Envelope",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 750000,
              "pattern": "^[A-Za-z0-9_-]+$"
            },
            "description": "Unpadded base64url of UTF-8 JCS HpkeRequest JSON. Photo plaintext is PhotoDescriptor."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/Empty"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/Account"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        }
      },
      "delete": {
        "operationId": "deleteAccount",
        "summary": "deleteAccount",
        "security": [
          {
            "AccountBearer": []
          }
        ],
        "x-opago-auth-policy": "account_fresh",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          },
          {
            "name": "X-Opago-Envelope",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 750000,
              "pattern": "^[A-Za-z0-9_-]+$"
            },
            "description": "Unpadded base64url of UTF-8 JCS HpkeRequest JSON. Photo plaintext is PhotoDescriptor."
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/Empty"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/DeletionReceipt"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        }
      }
    },
    "/api/v2/account/wallets": {
      "post": {
        "operationId": "bindWalletToAccount",
        "summary": "bindWalletToAccount",
        "security": [
          {
            "AccountBearer": []
          }
        ],
        "x-opago-auth-policy": "account_fresh",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/WalletBindingRequest"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/Wallet"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/account/deletions/{deletion_id}": {
      "get": {
        "operationId": "getAccountDeletion",
        "summary": "getAccountDeletion",
        "security": [
          {
            "DeletionReceiptBearer": []
          }
        ],
        "x-opago-auth-policy": "receipt",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "deletion_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          },
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "X-Opago-Envelope",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 750000,
              "pattern": "^[A-Za-z0-9_-]+$"
            },
            "description": "Unpadded base64url of UTF-8 JCS HpkeRequest JSON. Photo plaintext is PhotoDescriptor."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/Empty"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/DeletionStatus"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        }
      }
    },
    "/api/v2/wallet/me": {
      "get": {
        "operationId": "getWallet",
        "summary": "getWallet",
        "security": [
          {
            "WalletBearer": []
          }
        ],
        "x-opago-auth-policy": "wallet_or_bootstrap",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "X-Opago-Envelope",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 750000,
              "pattern": "^[A-Za-z0-9_-]+$"
            },
            "description": "Unpadded base64url of UTF-8 JCS HpkeRequest JSON. Photo plaintext is PhotoDescriptor."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/Empty"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/Wallet"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        }
      }
    },
    "/api/v2/wallet/close": {
      "post": {
        "operationId": "closeWallet",
        "summary": "closeWallet",
        "security": [
          {
            "WalletBearer": []
          }
        ],
        "x-opago-auth-policy": "wallet",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/ProofRequest"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/Wallet"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/restore": {
      "post": {
        "operationId": "restoreWallet",
        "summary": "restoreWallet",
        "security": [
          {
            "AccountBearer": []
          }
        ],
        "x-opago-auth-policy": "account_fresh",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/RestoreRequest"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/WalletSession"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/onboarding/kyc": {
      "post": {
        "operationId": "createPhotoMatch",
        "summary": "createPhotoMatch",
        "security": [
          {
            "WalletBearer": []
          }
        ],
        "x-opago-auth-policy": "bootstrap",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/CreatePhotoMatch"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/PhotoMatch"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/onboarding/kyc/{submission_id}": {
      "get": {
        "operationId": "getPhotoMatch",
        "summary": "getPhotoMatch",
        "security": [
          {
            "WalletBearer": []
          },
          {
            "AccountBearer": []
          }
        ],
        "x-opago-auth-policy": "owner",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          },
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "X-Opago-Envelope",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 750000,
              "pattern": "^[A-Za-z0-9_-]+$"
            },
            "description": "Unpadded base64url of UTF-8 JCS HpkeRequest JSON. Photo plaintext is PhotoDescriptor."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/Empty"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/PhotoMatch"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        }
      },
      "put": {
        "operationId": "updatePhotoMatch",
        "summary": "updatePhotoMatch",
        "security": [
          {
            "WalletBearer": []
          },
          {
            "AccountBearer": []
          }
        ],
        "x-opago-auth-policy": "owner",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          },
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/UpdatePhotoMatch"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/PhotoMatch"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "discardPhotoMatchDraft",
        "summary": "discardPhotoMatchDraft",
        "security": [
          {
            "WalletBearer": []
          },
          {
            "AccountBearer": []
          }
        ],
        "x-opago-auth-policy": "owner",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          },
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          },
          {
            "name": "X-Opago-Envelope",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 750000,
              "pattern": "^[A-Za-z0-9_-]+$"
            },
            "description": "Unpadded base64url of UTF-8 JCS HpkeRequest JSON. Photo plaintext is PhotoDescriptor."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/Empty"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/Ok"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        }
      }
    },
    "/api/v2/onboarding/kyc/{submission_id}/revisions": {
      "post": {
        "operationId": "createPhotoMatchRevision",
        "summary": "createPhotoMatchRevision",
        "security": [
          {
            "AccountBearer": []
          }
        ],
        "x-opago-auth-policy": "account",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          },
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/NewRevision"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/PhotoMatch"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/onboarding/kyc/{submission_id}/submit": {
      "post": {
        "operationId": "submitPhotoMatch",
        "summary": "submitPhotoMatch",
        "security": [
          {
            "WalletBearer": []
          },
          {
            "AccountBearer": []
          }
        ],
        "x-opago-auth-policy": "owner",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          },
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/SubmitPhotoMatch"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/PhotoMatch"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas.json#/$defs/HpkeRequest"
              }
            }
          }
        }
      }
    },
    "/api/v2/onboarding/kyc/{submission_id}/documents": {
      "post": {
        "operationId": "uploadPhoto",
        "summary": "uploadPhoto",
        "security": [
          {
            "WalletBearer": []
          },
          {
            "AccountBearer": []
          }
        ],
        "x-opago-auth-policy": "owner",
        "x-opago-transport": "photo",
        "x-opago-max-plaintext-bytes": 10485760,
        "parameters": [
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          },
          {
            "name": "revision",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "front",
                "back"
              ]
            }
          },
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "format": "uuid"
            }
          },
          {
            "name": "X-Opago-Envelope",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 750000,
              "pattern": "^[A-Za-z0-9_-]+$"
            },
            "description": "Unpadded base64url of UTF-8 JCS HpkeRequest JSON. Photo plaintext is PhotoDescriptor."
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/PhotoDescriptor"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/PhotoUploadResult"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "12-byte AES-GCM nonce || encrypted photo || 16-byte tag; see protocol.md."
              }
            }
          }
        }
      }
    },
    "/api/v2/wallet/address/suggestion": {
      "get": {
        "operationId": "suggestAddress",
        "summary": "suggestAddress",
        "security": [
          {
            "WalletBearer": []
          }
        ],
        "x-opago-auth-policy": "wallet",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "X-Opago-Envelope",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 750000,
              "pattern": "^[A-Za-z0-9_-]+$"
            },
            "description": "Unpadded base64url of UTF-8 JCS HpkeRequest JSON. Photo plaintext is PhotoDescriptor."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/Empty"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/AddressSuggestion"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        }
      }
    },
    "/api/v2/wallet/address/availability": {
      "get": {
        "operationId": "checkAddress",
        "summary": "checkAddress",
        "security": [
          {
            "WalletBearer": []
          }
        ],
        "x-opago-auth-policy": "wallet",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 32,
              "pattern": "^(?!.*\\.\\.)[a-z0-9][a-z0-9._-]*[a-z0-9]$"
            }
          },
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "X-Opago-Envelope",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 750000,
              "pattern": "^[A-Za-z0-9_-]+$"
            },
            "description": "Unpadded base64url of UTF-8 JCS HpkeRequest JSON. Photo plaintext is PhotoDescriptor."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas.json#/$defs/HpkeResponse"
                }
              }
            }
          },
          "default": {
            "description": "Authenticated errors are encrypted. Before successful HPKE authentication only minimal plain Error is possible; see protocol.md.",
            "headers": {
              "X-Request-Id": {
                "schema": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 36,
                  "format": "uuid"
                }
              },
              "Cache-Control": {
                "schema": {
                  "const": "no-store"
                }
              },
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 9007199254740991
                },
                "description": "Delay in seconds when retry is appropriate; transient TME issuance errors default to 5. See tme-v7.md."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "./schemas.json#/$defs/HpkeResponse"
                    },
                    {
                      "$ref": "./schemas.json#/$defs/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Normative lifecycle, authorization and retry rules: protocol.md.",
        "x-opago-plaintext-request": {
          "$ref": "./schemas.json#/$defs/Empty"
        },
        "x-opago-plaintext-response": {
          "$ref": "./schemas.json#/$defs/AddressAvailability"
        },
        "x-opago-plaintext-error": {
          "$ref": "./schemas.json#/$defs/Error"
        }
      }
    },
    "/api/v2/wallet/address": {
      "put": {
        "operationId": "setAddress",
        "summary": "setAddress",
        "security": [
          {
            "WalletBearer": []
          }
        ],
        "x-opago-auth-policy": "wallet",
        "x-opago-transport": "hpke",
        "x-opago-max-plaintext-bytes": 65536,
        "parameters": [
          {
            "name": "X-Opago-App-Build",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "X-Opago-Platform",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ios",
                "android",
                "pos"
              ]
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
[...]
